<launch>
  <remap from="image_percept" to="worldmodel/image_percept" />

  <node pkg="nodelet" type="nodelet" name="samsung"  args="manager"/>
   
  <node name="qrcode_detection" pkg="nodelet" type="nodelet" args="load hector_qrcode_detection/qrcode_detection samsung">
    <remap from="image" to="/image_raw" />
    <remap from="camera_info" to="/camera/camera_info" />
  </node>


</launch>
